# Build results
bin/
obj/
publish/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# OS
Thumbs.db
.DS_Store

# Debug locales
DebugLog.txt
csv/debug_*.txt

# Datos locales (no versionar)
IG_Data.dat
genres/
csv/gameslist*.csv
